html,
body {
    height: 100%;
    margin: 0;
}
body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
canvas {
    border: 1px solid white;
}

.blocks {
    display: flex; 
    justify-content: center;
    align-items: start;
    margin: 5px;
}
    
.block {
    /*padding: 24px;*/
    width: 200px;
    height: 40px;
    border-radius: 1px;    
    background: none;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center
}
h3 {
    font-family: sans-serif;
    color: rgb(246, 245, 245);
}
